<a href="https://colab.research.google.com/github/sivamsinghsh/100-days-of-python/blob/main/Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [49]:
# Data Types
# Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.
# Strings
# Anything that comes under double quote or single quotes comes under the catogary of string.
#For Example
print('Hello'+' Alpha')
print("Hello"+" Alpha")

Hello Alpha
Hello Alpha

In [12]:
# Subscript
# The method of pulling out a particular elements from a string is called as subscript and the number between the square bracket determines which character you are gonna pull out.
# The Subscript just goes up from zero to one and two and so on and so forth.So, whenever you get a result that is just off by one then remeber to check whether if you've started counting from zero or if you started counting from one
print("Hello"[0])
print("Hello"[1])
print("Hello"[2])
print("Hello"[3])
print("Hello"[4])
# print("Hello"[5]) when you try to print this it will show an error by saying string index out of range.

H
e
l
l
o

In [15]:
#Integers
# Numbers without any decimal places are considered as integers.
print(123+345)
print(123_456_32+232_34) # Computer actually remove those underscore and ignores it, while for us it gives us an ability to easily enter values for data in better way

468
12368866

In [19]:
# Float
# When we have to deal with decimal values it comes under the catogary of floating point numbers.The floating point can be start anywhere around the number.
# Python doesn't have an inbuilt double data type but it has a float data type that works and deals with floating values.
print(123.34)

123.34

In [24]:
# Boolean
# The boolean data type can have only two values which can be either true or false
print(10==9)
print(8>5)
a=5
b=7
print(a>b)

False
True
False

In [45]:
# Type error,Type checking and Type conversion

In [46]:
# Type error
# TypeError usually comes whenever any operation is performed on an incorrect/unsupported object type.
# For examples using the + (addition) operator on a string and an integer value will raise TypeError.

num_char = len(input("Hello dear")) 
print("hello sir" + num_char + "Nice to meet you") #if we execute only these two line we will get an type error

Hello dearAndrew

TypeError: ignored

In [47]:
#Type Conversion
# The type conversion is a process of converting the type of data to another data type using the type function 
#To resolve the type error we will add the following line of code and gonna change the type of data in order to solve the problem.
num_char = len(input("Hello dear "))
new_num_char = str(num_char)
print("your name has " + new_num_char + " characters") #if we execute only these two line we will get an type error
print(type(num_char))

Hello dear Andrew
your name has 6 characters
<class 'int'>

In [50]:
# Type checking
# The type checking is the process of checking the data type of variables that are known by the compiler.
a = float(123)
print(type(a))

<class 'float'>

In [54]:
# Write a program that adds the digits in a 2 digit number. e.g. if the input was 35, then the output should be 3 + 5 = 8
# Warning. Do not change the code on lines 1-3. Your program should work for different inputs. e.g. any two-digit number.

# Example Input 39
# Example Output 12

# 🚨 Don't change the code below 👇
two_digit_number = input("Type a two digit number: ")
# 🚨 Don't change the code above 👆

####################################
#Write your code below this line 👇

a = int(two_digit_number[0])
b = int(two_digit_number[1])
sum = a+b # We can also write sum = int(a)+int(b) result will be same
print(sum)

Type a two digit number: 45
9

In [65]:
# Mathematical Operations in Python
3+5
3*5
3-2
print(type(3/5))
print(2 ** 8) # the two asterisk sign gives you the access to the exponents or when you want to raise the number to a power.

# PEMDAS
# P- Parentheses
# E- Exponents ()
# M- Multiplication *
# D- Division /
# A- Addition +
# S- Subtraction -

print(3*3+3/3-3)
print(3*3/3+3-3)

<class 'float'>
256
7.0
3.0

In [79]:
# Write a program that calculates the Body Mass Index (BMI) from a user's weight and height.
# The BMI is a measure of some's weight taking into account their height. e.g. If a tall person and a short person both weigh the same amount, the short person is usually more overweight.
# The BMI is calculated by dividing a person's weight (in kg) by the square of their height (in m):
# Formula: weight (kg) / [height (m)] 2
# Warning you should convert the result to a whole number.


# Example Input weight = 80 height = 1.75
# Example Output 80 ÷ (1.75 x 1.75) = 26.122448979591837  26


# 🚨 Don't change the code below 👇
height = input("enter your height in m: ")
weight = input("enter your weight in kg: ")
# 🚨 Don't change the code above 👆

#Write your code below this line 👇
Formula = int(weight) / float(height) ** 2
Convert = int(Formula)
print(Convert)

enter your height in m: 1.8
enter your weight in kg: 65
20